* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
}

body {
  background-color: #e5e5f0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.row {
  display: flex;
  position: relative;
}

.box {
  border: black solid 1px;
  padding: 20px;
  flex-grow: 1;
  text-align: center;
  flex-basis: auto;
  word-wrap: break-word;
  max-width: 25%;
}

.box:first-child {
  border-right: 0;
  flex-grow: 3;
}

.box:last-child {
  border-left: 0;
  flex-grow: 3;
}